@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap');

body{
    background: linear-gradient(to right, #09794b,#bfffa3);
    overflow: hidden;
    font-family: 'Azeret Mono', monospace;
}

main{
    width: 100%;
    margin: auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.timer-container{
    /* border: 1PX solid black; */

    user-select: none;
    margin: auto;
    font: inherit;
    font-size:10rem;
    color: whitesmoke;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ms, .minute, .sec, .separator{
    text-shadow: 1px 1px 2px black;
}

.separator{
    padding: 0 8px;
}
