@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Nunito', sans-serif;  
}

.nav{
    /* border: 1px solid black; */

    background-color: white;
    width: 100%;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h2{font-size:2rem;}

.nav-btn-container{
    /* border: 1px solid black; */

    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

.nav-btn{
    border: 1px solid red;
    padding: 10px 3px;
    border-radius: 5px;
    width:46%;
}

.nav-btn:hover{
    background-color: rgba(211, 211, 211, 0.8);
}

.container{
    /* border: 1px solid black; */
    background-color: #f4f4f4;
    min-height: 100vh;
}

.inner-container{
    /* border: 1px solid black; */

    margin: auto;
    padding-top: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
}

.fc-menu{
    /* border: 1px solid black; */
    visibility:hidden;
    width: 40%;
    height: 240px;
    margin: 10px;
    padding: 0 15px;
    box-shadow: 0 2px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fc-menu h3{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2px;

}

.fc-menu textarea{
    resize: none;
    padding: 3px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 7px;
    outline: none;
    caret-color: rgba(255, 255, 255, 0);
}


.fc-menu textarea:focus{
    outline: 2px solid black;
}

.fc-menu-btn-container{
    /* border: 1px solid black; */

    width: 40%;
    display: flex;
    justify-content: space-evenly;
}

.fc-menu-btn{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 8px;
    width: 46%;
}
.fc-allItems{
    /* border: 1px solid black; */

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.fc-item{
    /* border: 1px solid black; */
    
    width: 47%;
    height: 200px;
    margin: 10px;
    box-shadow: 0 2px 5px;
    display: flex;
    flex-direction: column;
}

.fc-item i{
    cursor: pointer;
    /* border: 1px solid black; */
    align-self: flex-end;
    padding: 5px;
    font-size: 20px;
}

.fc-item i:hover{
    color: red;
}

.fc-item-question{
    /* border: 1px solid black; */
    border-top: 1px solid red;
    padding: 10px 0 10px 15px;
    font-size: 1em;
    font-weight: bold;
}

.fc-item-answer{
    /* border: 1px solid black; */
    font-size: 1em;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
    color: red;
}


@media (max-width:1024px) {
    .fc-menu{
        width: 60%;
    }

    .fc-item{
        width: 60%;
    }
}

@media (max-width:768px) {
    .fc-menu{
        width: 85%;
    }

    .fc-item{
        width: 85%;
    }
}
@media (max-width:480px) {
    .fc-menu{
        width: 100%;
    }

    .fc-item{
        width: 100%;
        margin: 10px 0;
    }

    .nav{
      display:flex;
      flex-direction: column;
    }
}





