@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{font-family: 'Anton', sans-serif;}
.container{
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#hex-colors{
    width: 100%;
    text-align: center;
}

#hex-colors h1, h2{
    font-size: 2rem;
    animation: colorchange 5s infinite alternate; 
}

.btn{
    font-size: 1.5em;
    margin-top: 3%;
}
@media(max-width:480px){
    #hex-colors h1{font-size: 1.5rem;}
    
    #hex-colors h2{font-size: 1.5rem;}
  }

@keyframes colorchange{
        0% {
            color: #ffffff;
          }
          
          20% {
            color: #cccccc;
          }
          
          40% {
            color: #999999;
          }
          
          60% {
            color: #666666;
          }
          
          80% {
            color: #333333;
          }
          
          100% {
            color: #ffffff;
          }  
}